<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<!-- CSSの読み込み -->
	<link th:href="@{/css/adminHome.css}" rel="stylesheet"></link>
	<link th:href="@{/css/AdminHeader.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>	
	<title>管理者用ホーム</title>
</head>
<body>
	<div th:replace="admin/adminHeader.html :: adminHeader"></div>
	<br><br>
	<br><br>
	<div class="container text-center">
		<div class="jumbotron">
	    		<label th:text = "'アカウントの新規申請数 :  ' + ${countPermission}  + '件'"></label>
	    		<br>
	    		<label th:text = "'勤務変更の申請数 :  ' + ${ruquestUserCount}	 + '件' "></label>
		</div>
		<div class="button">
			<a type="button" class="btn btn-primary" th:href="@{'/applyList'}">新規申請一覧</a>
			<a type="button" class="btn btn-primary" th:href="@{'/changeApplyList'}">勤務変更申請一覧</a>
		</div>
	</div>
</body>
</html>