<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/AdminHeader.css}" rel="stylesheet"></link>
	<link th:href="@{/css/changeApplyList.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>勤務情報変更申請者の一覧</title>
</head>
<body>
	<div th:replace="admin/adminHeader.html :: adminHeader"></div>
	<br><br>
	<br><br>
		<div class="container" >
			<h1>勤務情報変更申請者一覧</h1>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>名前</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each ="requestUser: ${requestUserList}">
						<td th:text="${requestUser.userName}"></td>
						<td>
						<button  type="submit" class="btn btn-primary" data-toggle="modal" data-target="#permissionModal">許可</button>
						<button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#rejectModal">拒否</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="modal fade" id="permissionModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
	 					<div class="modal-header">
							<h2 class="modal-title" id="myModalLabel">許可の確認</h2>
						</div>
						<div class="modal-body">
							<p>申請を許可しますか？</p>
						</div>
	 					<div class="modal-footer">
	 						<button type="submit" class="btn btn-primary modalBtn">はい</button>
							<button type="submit" class="btn btn-danger modalBtn" data-dismiss="modal">いいえ</button>								
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
	 					<div class="modal-header">
							<h2 class="modal-title" id="myModalLabel">拒否の確認</h2>
						</div>
						<div class="modal-body">
							<p>申請を拒否しますか？</p>
						</div>
	 					<div class="modal-footer">
	 						<button type="submit" class="btn btn-primary modalBtn">はい</button>
							<button type="submit" class="btn btn-danger modalBtn" data-dismiss="modal">いいえ</button>								
						</div>
					</div>
				</div>
			</div>
		</div>	
</body>
</html>