html body{
	background-color:#EFF1F3;
}

.jumbotron{
	background-color:#F2F2F0;
	padding: 50px 100px !important;
	margin-bottom: 0px !important;
	font-size: 20px !important;
	background-color: white !important;
}

.btn-primary {	
	height: 40px;
	width: 240px;
	margin: 20px 10px 0 10px !important;
	padding-top: 10px !important;
	font-size: 14px !important;
}


label {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container{
	transform: scale(1.2, 1.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.button {
	margin-top: 15px;
}

