.btn-primary {
	margin-top: 0px;
	margin-left: 0px;
	height: 40px;
	width: 150px;
	font-size: 14px !important;
}

th {
	font-size: 20px;
}

td {
	font-size: 20px;
}

html body {
	background-color: #EFF1F3;
}

.container {
	background-color: white !important;
	margin-top: 30px;
}

h1 {
	text-align: center;
	font-weight: 600;
}