html body {
    height: 100%;
    margin: 0;
    background-color: #EFF1F3;
}

.form-control {   
    height: 60px !important;
    font-size: 30px !important;
    width: 50% !important;
    margin: auto !important;
    text-align: center !important;
}

.oldPassword{
	background-color: #DBD3D8 !important;
	padding-top: 20px;
    padding-bottom: 20px;
}

.newPassword{
	padding-top: 20px;
    padding-bottom: 20px;
}

.newConfirmPassword{
	background-color: #DBD3D8 !important;
	padding-top: 20px;
    padding-bottom: 20px;
}

.btn-primary {
    width: 300px !important;
    height: 40px !important;
    margin: auto !important;
}

label {
    font-size: 24px !important;
    letter-spacing: 2px;
    font-weight: 700;
}

modal-header{
	font-size: 24px !important;
}

.modal-footer{
	text-align: center;
	justify-content: space-evenly;
    display: flex;
}

.modal-dialog{
	margin: 200px auto !important;
}

.modalBtn{
	margin: auto !important;
	font-size: 18px !important;
	width: 200px !important;
}

h1,h2{
    font-weight: 600 !important;
}

p {
    font-size: 20px;
}