.box{
 	height:450px;
}
.scroll{
 	overflow:scroll;
}

.background {
	background-color:#D4D9D2;
	
}

body{
	background-color:#D4D9D2;
}

html {
	height: 100%;
	margin: 0;
	background-color:#D4D9D2;
}

.table{
	text-align: center;
}