html body {
	height: 100%;
	margin: 0;
	background-color: #EFF1F3;
}

.form-control {   
	height: 60px !important;
	font-size: 24px !important;
	width: 50% !important;
	margin: auto !important;
	text-align: center !important;
}

label {
	font-size: 24px !important;
	letter-spacing: 5px;
}

.contractTime{
	padding-top: 20px;
}

.breakTime,.startDate{
	padding-top: 20px;
	padding-bottom: 20px;
}

.startTime,.endTime,.officeName{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #DBD3D8;
}

.pL22{
	padding-left: 22px !important;
}

.pL56{
	padding-left: 56px !important;
}

h1{
	font-weight: 600 !important;
	margin-top: 60px !important;
}

.btn-primary {
	width: 300px !important;
	height: 40px !important;
	margin: auto !important;
}