html body{
	background-color:#EFF1F3;
}

.jumbotron{
	background-color:#FFF !important;
	padding: 50px 100px !important;
	margin-bottom: 0px !important;
}

.btn-primary {	
	height: 40px;
	width: 240px;
	margin: 20px 10px !important;
	padding-top: 10px !important;
	font-size: 14px !important;
}

.jumbotron label {
	font-size: 20px;
}

.container{
	transform: scale(1.2, 1.2);
}

.nowDate {
	margin-top: 90px;
	margin-bottom: 35px !important;
}

.officeName {
	margin-left: -45px !important;
	margin-bottom: 10px;
}

.quota {
	margin-left: -45px !important;
	margin-bottom: 10px;
}

.execution {
	margin-left: -25px !important;
}

.button {
	margin-top: 30px;
}