html body{
	background-color:#D4D9D2;
}

.jumbotron{
	background-color:#F2F2F0;
	padding: 50px 100px !important;
	margin-bottom: 0px !important;
}

.btn-primary {	
	width: 200px;
	margin-top: 20px !important;
}

.jumbotron label {
	font-size: 20px;
}

.container{
	transform: scale(1.2, 1.2);
}

.nowDate {
	margin-top: 100px;
	margin-bottom: 25px !important;
}

.officeName {
	margin-left: -45px !important;
	margin-bottom: 10px;
}

.quota {
	margin-left: -45px !important;
	margin-bottom: 10px;
}

.execution {
	margin-left: -25px !important;
}

.nowDate {
	text-size: 500px !important;
	margin-bottom: 5px;
}

.button {
	margin-top: 25px;
}