<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	</head>
	<body>
		<div class="container" >
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>日付</th>
						<th>開始時間</th>
						<th>休憩時間</th>
						<th>終了時間</th>
						<th>実労働時間</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each ="contractDay : ${contractDay}">
					<td th:text="${contractDay.workDay}"></td>
					<td th:text="${#temporals.format(contractDay.startTime, 'HH:mm')}"></td>
					<td th:text="${contractDay.breakTime}"></td>
					<td th:text="${#temporals.format(contractDay.endTime, 'HH:mm')}"></td>
					<td th:text="${contractDay.workTimeMinute / 60} + 時 + ${contractDay.workTimeMinute % 60} + 分"></td>
				</tbody>
			</table>
		</div>
	</body>
</html>