<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title></title>
</head>
<body>
	<div class="container" >
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>日付</th>
					<th>開始時間</th>
					<th>休憩時間</th>
					<th>終了時間</th>
					<th>実労働時間</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</html>