<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/changePassword.css}" rel="stylesheet"></link>
	<link th:href="@{/css/headerLayout.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>パスワードの変更</title>
</head>
<body>
	<div th:replace="login/headerLayout.html :: header"></div>
	<br><br>
	<div class="text-center">
		<form method="post" th:action="@{/changePassword}" th:object="${changePasswordForm}" >
			<h1>パスワード変更画面</h1>
			<br>
			<div class="oldPassword">
				<label>現在のパスワード入力</label><br>
				<input type="password" th:field="*{password}" class="form-control" required>
			</div>
			<div class="newPassword">
				<label>新しいパスワード入力</label><br>
				<input type="password" th:field="*{newPassword}" class="form-control" required>				
			</div>
			<div class="newConfirmPassword">
				<label>新しいパスワードの確認</label><br>
				<input type="password" class="form-control" required>
			</div>
			<br/>
			<div th:each="error:${#fields.detailedErrors()}">
				<span th:text="${error.message}"></span>
			</div>
			<div th:if="${status}">パスワードを変更しました</div>
			<div th:if="${status} == false">パスワードが変更出来ませんでした</div>	
			<br>		
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#testModal">変更する</button>			
			<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title" id="myModalLabel">変更確認</h2>
						</div>
						<div class="modal-body">
							<p>本当にパスワードを変更しますか？</p>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary modalBtn">はい</button>
							<button type="button" class="btn btn-danger modalBtn" data-dismiss="modal">いいえ</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>