<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/changeContractTime.css}" rel="stylesheet"></link>
	<link th:href="@{/css/headerLayout.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>契約時間の変更</title>
</head>
<body>
	<div th:replace="login/headerLayout.html :: header"></div>
	<br><br>
	<div class="text-center">
		<form method="post" th:action="@{/changeContractTime}" th:object="${changeContractTimeForm}" >
			<div>
				<h1>契約時間の変更	</h1>
				<br>
				<div class="workTime">
					<label>契約勤務時間</label>
					<input type="number" value="0" min="0" max="720" step="1" class="form-control pL22" th:field="*{newContractTime}" required>
					<label class ="totalTime">時間</label>
				</div>
				<div class="startTime">
					<label class="space">想定始業時間</label>
					<input type="time" class="form-control pL56" th:field="*{newStartTime}" required>
					<br>
				</div>
				<div class="breakTime">
					<label class="space">想定休憩時間</label>
					<input type="time" class="form-control pL56" th:field="*{newBreakTime}" required>
					<br/>
				</div>
				<div class="endTime">
					<label class="space">想定退勤時間</label>
					<input type="time" class="form-control pL56" th:field="*{newEndTime}" required>
				</div>
				<br>
				<div th:if="${status}">契約勤務時間を変更しました</div>
				<div th:if="${status == false}">契約勤務時間を変更出来ませんでした</div>
				<div th:each="error:${#fields.detailedErrors()}">
					<span th:text="${error.message}">Error message</span>
				</div>
				<br>
				<button type="submit" class="btn btn-primary">保存</button>
			</div>
			<br>
		</form>
	</div>
</body>
</html>