<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/headerLayout.css}" rel="stylesheet"></link>
	<link th:href="@{/css/changeContract.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>契約の更新</title>
</head>
<body>
	<!-- ヘッダー -->
	<div th:replace="login/headerLayout.html :: header"></div>
	<!-- コンテンツ -->
	<br><br><br>
	<div class="text-center">
		<h1>現在の契約</h1>
		<h2 th:text="${contract.officeName}"></h2><br>
		<form method="post" th:action="@{/changeContract}" th:object="${ContractForm}">

			<input type="date" name="endDate" class="form-control pl45" required/><br>
			<button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal">契約終了日登録</button>
			<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
		 					<div class="modal-header">
								<h2 class="modal-title" id="myModalLabel">契約終了日登録画面</h2>
							</div>
							<div class="modal-body">
								<p>本当に登録しますか？</p>
							</div>
		 					<div class="modal-footer">
		 						<button type="submit" class="btn btn-primary modalBtn">はい</button>
								<button type="submit" class="btn btn-danger modalBtn" data-dismiss="modal">いいえ</button>								
							</div>
						</div>
					</div>
				</div>
		</form>
		<br>
	</div>
</body>
</html>