<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/changeEmail.css}" rel="stylesheet"></link>
	<link th:href="@{/css/headerLayout.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>メールアドレスの変更</title>
</head>
<body>
	
	<div th:replace="login/headerLayout.html :: header"></div>
	
	<br><br>
	<div class="text-center">
		<form method="post" th:action="@{/changeEmail}" th:object="${changeEmailForm}">
			<h1>メールアドレス変更画面</h1>
			<br><br>
			<div class="jumbotron">
				<label>現在登録されているメールアドレス</label><br>
				<label th:text="${user.email}"></label>
			</div>
			<div class="newEmail">
				<label>新しいメールアドレスの入力</label><br>
				<input type="text" th:field="*{newEmail}" class="form-control" required>
			</div>
			<div class="newConfirmEmail">
				<label>新しいメールアドレスの確認</label><br>
				<input type="text" th:field="*{newConfirmEmail}" class="form-control" required>
			</div>
			<br>
			<div th:each="error:${#fields.detailedErrors()}">
				<span th:text="${error.message}"></span>
			</div>
			<br>
			<button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#testModal">変更する</button>
			<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title" id="myModalLabel">変更確認</h2>
						</div>
						<div class="modal-body">
							<p>本当にメールアドレスを変更しますか？</p>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary  modalBtn">はい</button>
							<button type="button" class="btn btn-danger modalBtn" data-dismiss="modal">いいえ</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>