<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link th:href="@{/css/headerLayout.css}" rel="stylesheet"></link>
	<link th:href="@{/css/changeUserIcon.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>プロフィール画像の変更</title>
</head>
<body>
	<div th:replace="login/headerLayout.html :: header"></div>
	<br><br>
	<div class="text-center">
		<form method="post" enctype="multipart/form-data" th:action="@{/changeUserIcon}">		
			<h1>プロフィール画像変更</h1>
			<br><br>
			<input type="file" name="file" class="import" required>
			<br>
			<br>
			<button type="button" class="btn btn-primary modalBtn" data-toggle="modal" data-target="#testModal">変更する</button>				
			<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title" id="myModalLabel">変更確認</h2>
						</div>
						<div class="modal-body">
							<p>本当にプロフィール画像を変更しますか？</p>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary modalBtn">はい</button>
							<button type="button" class="btn btn-danger modalBtn" data-dismiss="modal">いいえ</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>