<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/contractDay.css}" rel="stylesheet"></link>
	<link th:href="@{/css/headerLayout.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>contractDay</title>
</head>
<body>
	<!-- ヘッダー -->
	<div th:replace="login/headerLayout.html :: header"></div>
	<!-- コンテンツ -->
	<div class="background">
		<br><br>
	</div>
	<div class = "box scroll">
		<table class="table table-bordered">
			<thead class="thead-dark">				
				<tr>
					<th>勤務日</th>
					<th>始業時間</th>
					<th>休憩時間</th>
					<th>退勤時間</th>
					<th>合計時間</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each ="contractDay : ${contract}">
					<!-- 日付 -->
					<td th:text ="${contractDay.value.workDay}">
					<!-- 勤務開始時間 -->
					<td th:text="${#temporals.format(contractDay.value.StartTime, 'HH:mm')}"></td>
					<!-- 勤務終了時間 -->
					<td th:text="${#temporals.format(contractDay.value.EndTime, 'HH:mm')}"></td>
					<!-- 休憩時間 -->
					<td th:text="${contractDay.value.breakTime}"></td>
					<!-- 勤務時間 -->
					<td>
						<span th:if="${contractDay.value.workTimeMinute}" th:text="${contractDay.value.workTimeMinute / 60} + 'h ' + ${contractDay.value.workTimeMinute % 60} + 'm'"></span>
						<span th:unless="${contractDay.value.workTimeMinute}"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="background"><br><br>
	</div>			
		<div th:if="${displayStatus} == notClose">								
			<ul class="nav nav-pills nav-justified">
				<li class="nav-item">
					<a class="nav-link active" id="delete-tab" data-toggle="tab" href="#delete" role="tab" aria-controls="delete">勤務日の削除</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="cange-tab" data-toggle="tab" href="#cange" role="tab" aria-controls="cange">勤務情報の変更</a>
				</li>
			</ul>								
			<div class="tab-content" id="myTabContent">										
				<div class="tab-pane fade" id="cange" role="tabpanel" aria-labelledby="cange-tab"><br>						
					<div th:replace="login/workTime.html :: content"></div><br>
				</div>							
				<div class="tab-pane fade text-center" id="delete" role="tabpanel" aria-labelledby="delete-tab">
					<form method="post" th:action="@{'/contract/'+ ${contractId} + '/' + ${yearMonthUrl}}" th:object="${workTime}">	
						<br>
						<label>勤務日</label><br>
						<select name="workTimeId">
							<option th:each ="workTimes:${workTimes}" th:text="${workTimes.workDay}" th:value="${workTimes.workTimeId}" th:field="*{workTimeId}" th:name="workTimeId"></option>
						</select><br><br>				
						<button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal">削除</button><br><br>
						<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
				 					<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">削除確認画面</h4>
									</div>
									<div class="modal-body">
										<label>本当に削除しますか？</label>
									</div>
				 					<div class="modal-footer">
				 						<button type="submit" class="btn btn-primary">はい</button>
										<button type="submit" class="btn btn-danger" data-dismiss="modal">いいえ</button>								
									</div>
								</div>
							</div>	
						</div>						
					</form>
				</div>														
			</div>																								
		</div>			
		<div th:if="${displayStatus} == nowRequest">変更申請済み</div>
			<!-- 3.変更申請ボタン表示 -->
			<div th:if="${displayStatus} == lastMonth">
				<button  type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal">変更申請</button>
				<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
		 					<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">変更申請確認画面</h4>
							</div>
							<div class="modal-body">
								<label>本当に変更申請しますか？</label>
							</div>
		 					<div class="modal-footer">
		 						<a th:href="@{'/contract/'+ ${contractId} + '/' + ${yearMonthUrl} + '/changeRequestStatus'}">
		 							<button type="submit" class="btn btn-primary">はい</button>
		 						</a>
								<button type="submit" class="btn btn-danger" data-dismiss="modal">いいえ</button>								
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="background">
			<br>
			<a class="btn btn-primary" th:href="@{'/contract/'+ ${contractId} + '/' + ${yearMonthUrl} + '/pdfDownload'}" style="text-align: center;">PDFをダウンロード</a>
			<br>
		</div>	
</body>
</html>