<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/contract.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>契約詳細情報の登録</title>
</head>
<body>
	<form method="post" th:action="@{/contract}" th:object="${contractForm}">
		<div class="text-center">
			<h1>契約詳細情報の登録</h1>
			<br>
			<div class="contractTime">
				<label>契約勤務時間</label><br/>
				<input type="number" name="contractTime" value="0" min="0" max="720" step="1" class="form-control pL22" th:field="*{contractTime}" required/>
				<label>時間</label>
			</div>
			<div class="startTime">
				<label class="space">想定始業時間</label><br/>
				<input type="time" name="startTime" class="form-control pL56" th:field="*{startTime}" required/>
			</div>		
			<div class="breakTime">
				<label class="space">想定休憩時間</label><br/>
				<input type="time" name="breakTime" class="form-control pL56" th:field="*{breakTime}" required/>
			</div>	
			<div class="endTime">
				<label class="space">想定退勤時間</label><br/>
				<input type="time" name="endTime" class="form-control pL56" th:field="*{endTime}" required/>
			</div>
			<div class="startDate">
				<label class="space">勤務開始日</label><br/>
				<input type="date" name="startDate" class="form-control pL56" th:field="*{startDate}" required/>
			</div>
			<div class="officeName">
				<label class="space">勤務先会社名</label>
				<input type="text" name="officeName" placeholder="株式会社　Company slave" class="form-control" th:field="*{officeName}" required/>
			</div>
			<br/>
				<div th:each="error:${#fields.detailedErrors()}">
					<span th:text="${error.message}">Error message</span>
				</div>
			<button class="btn btn-primary" type="submit">保存</button>
		</div>
	</form>
	<br/>
</body>
</html>