<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/contractMonth.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>contractMonth</title>
</head>
<body>
	<!-- ヘッダー -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">サービス名</a>
			</div>
			<div class="pull-right">
			<button type="button" class="btn btn-success">プロフ画像</button>		
			</div>	
		</div>
	</nav>
	<br><br>
	<br><br>
	<div th:fragment="login_contents">
		<div class="container">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>会社名</th>
						<th>年月</th>
					</tr>
				</thead>
			<tbody>
				<tr th:each ="contract : ${contractMonth}">
					<td ><a class="btn btn-primary" th:href="@{'/contractDay/'+ ${workTime.workTimeId}}">詳細</a></td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</body>
</html>