<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/forgotPassword.css}" rel="stylesheet"></Link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>パスワードの再発行</title>
</head>
<body>
	<div class="text-center">
		<div class="container">
			<form method="post" th:action="@{/forgotPassword}" th:object="${forgotPasswordForm}">
				<h1>パスワードの再発行</h1>
				<h3>パスワードを再発行します</h3>
				<h4>任意のメールアドレスを入力して下さい</h4>
				<input type="text" th:field="*{emailByForgotPassword}" class ="form-control" name="emailByForgotPassword">
				<div th:each="error:${#fields.detailedErrors('emailByForgotPassword')}">
					<span th:text="${error.message}" th:errors="*{emailByForgotPassword}">Error message</span>
				</div>
				<h4 th:if="${status}">メールを送信しました</h4>
				<br/>
				<button class="btn btn-primary" type="submit">送信</button>
				<br></br>
			</form>
			<a th:href="@{/login}">ログイン画面に戻る</a>
		</div>
	</div>
</body>
</html>