<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/headerLayout.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>headerLayout</title>
</head>
<body>
	<!-- ヘッダー -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand">サービス名</a>
			<div class="dropdown pull-right">
				<!-- ハンバーガーメニュー -->
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<div id="humberger">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</button>
				<!-- ドロップダウンメニュー -->
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#">メールアドレス変更</a></li>
					<li><a href="#">パスワード変更</a></li>
					<li><a href="#">過去分の確認</a></li>
					<li><a href="#">設定時間の変更</a></li>
					<li><a href="#">契約の変更</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- コンテンツ -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 main">
				<div th:include="__${contents}__"></div>
			</div>
		</div>
	</div>
</body>
</html>