<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/home.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>home</title>
</head>
<body>
	<!-- ヘッダー -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">サービス名</a>
			</div>
			<div class="pull-right">
				<button type="button" class="btn btn-success">管理ユーザー</button>		
			</div>	
		</div>
	</nav>
	<br><br>
	<br><br>
	<!-- コンテンツ -->
	<div class="container">
		<div class="text-center">
			<div class="jumbotron">
				<label>日付：</label><label>YYYY/mm/DD</label><br>
				<label>契約時間まであと：</label><label>100時間</label><br>
				<label>今月の勤務時間：</label><label>60時間</label>
			</div>
		<button type="button" class="btn btn-success" th:href="@{'/workTime'}">勤務時間登録</button>
		<button type="button" class="btn btn-success" th:href="@{'/workTime'}">勤務時間変更</button>
		</div>
	</div>
</body>
</html>