<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link th:href="@{/css/headerLayout.css}" rel="stylesheet"></link>
<link th:href="@{/css/home.css}" rel="stylesheet"></link>
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<title>ホーム</title>
</head>
<body>
	<div th:replace="login/headerLayout.html :: header"></div>
	<div class="container">
		<div class="nowDate">
			<h2 th:text="${nowDate}"></h2>
		</div>
		<div class="jumbotron">
			<div class="content officeName">
				<label>現在契約中の会社：</label><label th:text="${officeName}"></label>
			</div>
			<div class="content quota">
				<label>最低稼働時間まで：</label><label th:text="${quota}"></label>
			</div>
			<div class="content execution">
				<label>今月の稼働時間：</label><label th:text="${execution}"></label>
			</div>
		</div>
		<div class="button">
			<a class="btn btn-primary" th:href="@{'/workTime'}">今日の勤務時間登録</a>
			<a class="btn btn-primary" th:href="@{'/contracts'}" target="_blank">過去の勤務時間詳細・変更</a>
		</div>
	</div>
	<br>
	<div class="container text-center">
		<div class="row mb-5">
			<div class="col-2 deadline">
				<div th:unless="${deadline}">
					<label>勤怠を締め切ってください。<br>締め切らなかった場合、毎月1日に自動で締め切られます。</label>
					<br>
					<button type="button" class="btn btn-danger mb-12" data-toggle="modal" data-target="#testModal">勤怠を締める</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="testModal" tabindex="-1" role="dialog"
		aria-labelledby="basicModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="myModalLabel">締め切り確認</h2>
				</div>
				<div class="modal-body">
					<p>本当に今月の勤怠を締め切りますか？</p>
				</div>
				<div class="modal-footer">
					<a th:href="@{/deadline}"><button type="button" class="btn btn-danger modalBtn">はい</button></a>
					<button type="button" class="btn btn-primary modalBtn" data-dismiss="modal">いいえ</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>