<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link th:href="@{/css/login.css}" rel="stylesheet"></link>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <title>ログイン</title>
</head>
<body class="text-center">
    <h1>Login</h1>
    <form method="post" th:action="@{/login}">
        <label>メールアドレス</label><br/>
        <input type="text" name="email" placeholder="xxxx@yyyy.co.jp" class="form-control"/><br/>
        <br/>
        <label>パスワード</label><br/>
        <input type="password" name="password" placeholder="パスワード" class="form-control"/><br/>
	        <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null" class="message">
	        	<span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-denger"></span>
	        </div>
        <button class="btn btn-primary" type="submit">ログイン</button>
    </form>
    <br/>
    <a th:href="@{'/signup'}">ユーザー登録申請はこちら</a>
    <p></p>
    <a th:href="@{'/forgotPassword'}">パスワードを忘れた方はこちら</a>
</body>
</html>