<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/headerLayout.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>ReissuePassword</title>
</head>
<body>
	<div class="tect-center">
		<form method="post" th:action="@{/login/reissuePassword}" th:object="${reissuePasswordForm}">
		
			<div class="container">
				<h2><label>パスワードの再発行</label></h2><br>
				<input type="hidden" th:field="*{userId}">
				<input type="hidden" th:field="*{token}">
				
				<div class="col-sm-4">
					<label>パスワードの入力 : </label>
					<input type="password" th:field="*{reissuePassword}"><br>
					<div th:each="error:${#fields.detailedErrors()}">
						<span th:text="${error.message}" th:errors="*{reissuePassword}">reissuePassword error</span>
					</div><br>
				</div>
				
				<div class="col-sm-4">
					<label>パスワードの確認 : </label>
					<input type="password" th:field="*{confirmReissuePassword}"><br>
					<div th:each="error:${#fields.detailedErrors()}">
						<span th:if="${#fields.hasErrors('isDataValidOfReissuePassword')}" th:errors="*{isDataValidOfReissuePassword}">newConfirmPassword error</span>
					</div><br>
				</div><br/>
				
				<div th:if="${status}">パスワードを再発行しました</div>
				<div th:if="${status} == false">パスワードが再発行出来ませんでした</div>
				
					<button class="btn btn-primary" type="submit">再発行する</button>
			</div>	
		</form>
	</div>
</body>
</html>