<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/reissuePassword.css}" rel="stylesheet"></Link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>パスワードの再発行</title>
</head>
<body>
	<div class="text-center">
		<form method="post" th:action="@{/login/reissuePassword}" th:object="${reissuePasswordForm}">
			<h1>パスワードの再発行</h1>
			<br>
			<input type="hidden" th:field="*{token}">
			<div class="reissuePassword">
				<label>パスワードの入力</label><br>
				<input type="password" th:field="*{reissuePassword}"><br>
			</div>
			<br>
			<div class="confirmReissuePassword">
				<label>パスワードの確認</label><br>
				<input type="password" th:field="*{confirmReissuePassword}"><br>			
			</div>
			<br/>
			<div th:each="error:${#fields.detailedErrors()}">
				<span th:text="${error.message}"></span>
			</div>
			<div th:if="${status}">パスワードを再発行しました</div>
			<div th:if="${status} == false">トークンの有効期限が切れています。もう一度メールを送信して下さい。</div>
			<br/>
			<button class="btn btn-primary" type="submit">再発行する</button>
		</form>
		<br><br/>
		<a th:href="@{/login}">ログイン画面に戻る</a>
	</div>
</body>
</html>