<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link th:href="@{/css/signup.css}" rel="stylesheet"></link>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>新規登録</title>
</head>
<body class="text-center">
	<form method="post" th:action="@{/signup}" th:object="${signupForm}">
		<h1>新規登録	</h1>
		<br>
		<div class="userName">
	        <label>名前</label><br/>
	        <input type="text" class="form-control" th:field="*{userName}" name="userName" required>
        </div>
		<div class="email">
	    	<label>メールアドレス</label><br/>
	    	<input type="text" class="form-control" th:field="*{email}" name="email" required>
		</div>
    	<div class="password">
	        <label>パスワード</label><br/>
	        <input type="password" class="form-control" th:field="*{password}" name="password" required>
        </div>
       <div class="confirmPassword">
	        <label>パスワード確認</label>
	        <input type="password" class="form-control" name="confirmPassword" required>
	    </div>
	    <br>
		<div th:each="error:${#fields.detailedErrors()}">
			<span th:text="${error.message}">Error message</span>
		</div>
		<div th:if="${useEmail}">
			<label>このメールアドレスは既に使用されています</label>
		</div>
		<br>
		<button class="btn btn-primary" type="submit">申請する</button>
    </form>
    <br>
    <div class="homeBack">
    	<a th:href="@{'/login'}">ログイン画面に戻る</a>
    </div>
</body>
</html>