<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <title>Signup</title>
</head>
<body class="text-center">
	<form method="post" th:action="@{/signup}" style="margin-top: 30px;">
		<!-- 名前 -->
        <label>名前</label><br/>
        <input type="text" name="userName" /><br/>
        <br/>
		<!-- メールアドレス -->
    	<label>メールアドレス</label><br/>
    	<input type="text" name="mail" /><br/>
    	<br/>
    	<!-- パスワード -->
        <label>パスワード</label><br/>
        <input type="password" name="password" /><br/>
        <br/>
        <!-- パスワード確認 -->
        <label>パスワード確認</label><br/>
        <input type="password" name="password" /><br/>
        <br/>
	<button class="btn btn-primary" type="submit">申請する</button>
    </form>
    <br/>
    <a th:href="@{'/login'}">ログイン画面に戻る</a>
</body>
</html>