<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<link th:href="@{/css/startDateWaiting.css}" rel="stylesheet"></link>
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<title>契約詳細情報の登録</title>
</head>
<body class="text-center">
		<h1>保存しました。<br/><br/>勤務開始日までお待ちください。</h1>
		<a class="btn btn-primary" th:href="@{'/login'}">閉じる</a>
</body>
</html>