<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
	<link th:href="@{/css/unapproved.css}" rel="stylesheet"></link>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <title>新規登録</title>
</head>
<body class="text-center">
	<h1>申請しました。<br/><br/>管理者の許可が出るまで少々お待ちください。</h1>
 	<a class="btn btn-primary" th:href="@{'/login'}">ログイン画面に戻る</a>
</body>
</html>