<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link th:href="@{/css/headerlayout.css}" rel="stylesheet"></link>
    <link th:href="@{/css/workTime.css}" rel="stylesheet"></link>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <title>勤務時間の登録</title>
</head>
<body>
	<!-- ヘッダー -->
	<div th:replace="login/headerLayout.html :: header"></div>
	<br><br>
	<h1>勤務時間登録</h1>
	<div th:fragment="content">
		<form method="post" th:action="@{/workTime}" th:object="${workTimeForm}">
			<div class="text-center">
				<br>
				<div class="workDay">
					<label>勤務日</label>
					<input class="form-control pL58" type="date" th:field="*{workDay}" required>
					<br>
				</div>
				<div class="startTime">
					<label>始業時間</label>
					<input class="form-control pL48" type="time" th:field="*{startTime}" required>
					<br>
				</div>
				<div class="breakTime">
					<label>休憩時間</label>
					<input class="form-control pL48" type="time" max="03:00" th:field="*{breakTime}" required>
					<br>
				</div>
				<div class="endTime">
					<label>終業時間</label>
					<input class="form-control pL48" type="time" th:field="*{endTime}" required>
					<input type="checkbox" th:field="*{overTimeFlag}" name="overTime"> 0時を過ぎた
					<br>
				</div>
				<br>
				<div th:each="error:${#fields.detailedErrors()}">
					<span th:text="${error.message}">Error message</span>
				</div>
				<button class="btn btn-primary" type="submit">保存</button>
			</div>	
		</form>
	</div>
</body>
</html>