<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PDF</title>
<style>
@font-face {
	font-family: "IPAGothic";
	src: url("fonts/ipag.ttf");
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

body {
	font-family: "IPAGothic";
}

table {
	border-collapse: collapse;
	margin-bottom: 10px;
}

th, td {
	text-align: center;
	padding: 3px 10px;
}

th {
	width: 20%;
}
</style>
</head>
<body>
	<div class="container">
		<table class="table" border="1" align="left" width="80%">
			<tr>
				<th>部門 エンジニアリング</th>
				<th>氏名 <span th:text="${userName}"></span></th>
			</tr>
		</table>
	</div>
	<div class="container">
		<table class="table" border="1" align="center" width="100%">
			<thead class="thead-dark">
				<tr>
					<th th:text="${yearMonth}" colspan="2"></th>
					<th>勤務開始時間</th>
					<th>勤務終了時間</th>
					<th>休憩時間</th>
					<th>稼働時間</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="contractDay : ${contract}">
					<!-- 日付 -->
					<td th:if="${dayOfWeekService.hasHoliday(contractDay.value.workDay)}">
						<span th:text="${contractDay.value.workDay.getDayOfMonth()}" style="color:#FF0000;"></span>
					</td>
					<td th:unless="${dayOfWeekService.hasHoliday(contractDay.value.workDay)}">
						<span th:text="${contractDay.value.workDay.getDayOfMonth()}"></span>
					</td>
					<!-- 曜日 -->
					<td th:if="${dayOfWeekService.hasHoliday(contractDay.value.workDay)}">
						<span th:text="${contractDay.value.workDay.format(weekFormatter)}" style="color:#FF0000;"></span>
					</td>
					<td th:unless="${dayOfWeekService.hasHoliday(contractDay.value.workDay)}">
						<span th:text="${contractDay.value.workDay.format(weekFormatter)}"></span>
					</td>
					<!-- 勤務開始時間 -->
					<td th:text="${contractDay.value.startTime}"></td>
					<!-- 勤務終了時間 -->
					<td th:text="${contractDay.value.endTime}"></td>
					<!-- 休憩時間 -->
					<td th:text="${contractDay.value.breakTime}"></td>
					<!-- 勤務時間 -->
					<td>
						<span th:if="${contractDay.value.workTimeMinute}" th:text="${contractDay.value.workTimeMinute / 60} + 'h ' + ${contractDay.value.workTimeMinute % 60} + 'm'"></span>
						<span th:unless="${contractDay.value.workTimeMinute}"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<table class="table" border="1" align="right" width="40%">
			<tr>
				<th>合計稼働時間</th>
				<th><span th:text="${totalTime / 60} + h + ' ' + ${totalTime % 60} + m"></span></th>
			</tr>
			<tr>
				<th>合計稼働日数</th>
				<th><span th:text="${totalDay}"></span>日</th>
			</tr>
		</table>
	</div>
</body>
</html>