<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pdf</title>
<style>
@font-face {
	font-family: "IPAGothic";
	src: url("fonts/ipag.ttf");
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

body {
	font-family: "IPAGothic";
}

table {
	border-collapse: collapse;
	margin-bottom: 10px;
}

th, td {
	text-align: center;
	padding: 3px 10px;
}

th {
	width: 20%;
}
</style>
</head>
<body>
	<div class="container">
		<table class="table" border="1" align="left" width="80%">
			<tr>
				<th>部門 エンジニアリング</th>
				<th>氏名 <span th:text="${userName}"></span></th>
			</tr>
		</table>
	</div>
	<div class="container">
		<table class="table" border="1" align="center" width="100%">
			<thead class="thead-dark">
				<tr>
					<th th:text="${yearMonth}" colspan="2"></th>
					<th>勤務開始時間</th>
					<th>勤務終了時間</th>
					<th>休憩時間</th>
					<th>稼働時間</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="contractDay : ${contract}">
					<td th:text="${contractDay.Day}"></td>
					<td th:text="${contractDay.DayOfWeek}"></td>
					<td th:text="${contractDay.stringStartTime}"></td>
					<td th:text="${contractDay.stringEndTime}"></td>
					<td th:text="${contractDay.breakTime}"></td>
					<td th:text="${contractDay.workTimeMinute / 60} + 時間 + ${contractDay.workTimeMinute % 60} + 分"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<table class="table" border="1" align="right" width="40%">
			<tr>
				<th>合計稼働時間</th>
				<th><span th:text="${totalTime / 60} + 時間 + ${totalTime % 60} + 分"></span></th>　<!-- エラーでる -->
			</tr>
			<tr>
				<th>合計稼働日数</th>
				<th><span th:text="${totalDay}"></span>日</th>
			</tr>
		</table>
	</div>
</body>
</html>